

body {
    font-family: 'Mitr-Regular' !important;
}






.Header_Container{
    background-color: rgba(71, 78, 85,0.75);
    width: 100%;
    height: clamp(35px,5vh,150px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 10vh;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 28px, rgba(0, 0, 0, 0.1) 0px 10px 10px;
   
}

.Header_Container > button {
    width: 20%;
    background: transparent;
    box-sizing: border-box;
    border: none;
    border-right: 2px solid rgb(29, 37, 45);
    font-size: clamp(16px,1vw,50px);
    color: white;
    cursor: pointer;
    font-family: 'Mitr-Regular';
    position: relative;
    padding: 0;
    
}
.Header_Container > button:hover{
    background-color: rgba(151, 155, 156, 0.75);
}
.Header_Container > button:nth-child(1){
    border-left: 2px solid rgb(29, 37, 45);
}



.Inventory_New_Items{
    position: absolute;
    background-color: yellow;
    width: 100%;
    margin: 0;
    border-radius: 2px;
    font-size: clamp(6px,1.25vw,20px);
    top: 100%;
}
.Inventory_New_Items > p {
    margin: 0;
    display: inline;
}