.NoWhere{
    display: none;
}


.Game_UI_Inventory_Menu{
    height: 100%;
    width: 100%;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    position:relative;
}
.Inventory-Selector{
width: 100%;
background-color: rgb(30,41,50);
margin-bottom: 2vh;
display: flex;
justify-content: center;
align-items: center;
}
.Inventory-Selector-Button-Active{
  transition: 1s;
  background-color: rgb(72,100,138);
  background: linear-gradient(0deg, rgba(42,80,133,1) 0%, rgba(72,100,138,1) 100%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Inventory-Selector > button {
  height: 80%;
  margin-bottom: 1%;
  margin-top: 1%;
  padding: 0;
  width: 17.5%;
  background-color: transparent;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: none;
  border-radius: 0.05rem;
  transition: 1s;
  color: rgb(138,162,186);
  font-family: 'Mitr-Regular';
  cursor: pointer;
}

.Inventory-Filters-Container{
  width: 100%;
  margin-bottom: 1vh;
  background-color: darkcyan;
}




.Inventory_Skins_Grid{
    background-color: transparent;
    width: 94%;
    height: auto;
    min-height: 85%;
        
      box-sizing: border-box;

        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: max-content; 
        gap: 0.2vw;
        justify-items: center;

        overflow-y: scroll;
        padding: 0;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        padding-left: 0.25vw;
        padding-right: 0.25vw;
        margin-top: 2vh;
}

.Inventory_Skins_Grid::-webkit-scrollbar {
    width:2px;
    padding: 0;
  }
  
 
  .Inventory_Skins_Grid::-webkit-scrollbar-track { 
    padding: 0;
  }
   
 
  .Inventory_Skins_Grid::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0,0.4); 
    border-radius: 50%;
    padding: 0;
  }
  
  
  .Inventory_Skins_Grid::-webkit-scrollbar-thumb:hover {
    background: transparent; 
    padding: 0;
  }






.Inventory_Item{
  box-sizing: border-box;
  display: inline-flex;
  width: 100%;
  aspect-ratio: 9/7.5;
  border: 1px solid rgb(75, 75, 75);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  font-family: 'DownloadedFont';
  font-size: 12px;
  cursor: pointer;
  background-color: gray;
  box-shadow: rgb(6 24 44 / 20%) 0px 0px 0px 2px, rgb(6 24 44 / 65%) 0px 4px 6px -1px, rgb(255 255 255 / 8%) 0px 1px 0px inset;
}


.Inventory_Item_IMG{
    background-image: url(../PNGS/Item-BG.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Inventory_Item_IMG > img {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
}

.Inventory_Item_Rarity{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    align-items: flex-start;
    color: white;
    font-size: clamp(2px,0.7vw,20px);
    width: 100%;
    height: 30%;
    padding-left: 7%;
    padding-right: 7%;
    
    background: linear-gradient(90deg, rgba(69,92,31,0.15) 0%, rgba(59,59,59,0.5) 80%);
    text-align: start;
    border-top: 1px solid rgba(128, 128, 128,0.5);
    box-sizing: border-box;
    background-color: white;
}

.Inventory_Item_Weapon{
    text-align: start;
    font-family: 'Mitr-Medium';
    font-size: clamp(2px,0.675vw,20px);
    height: 50%;
    line-clamp: 1;
}
.Inventory_Item_Skin {
    text-align: center;
    font-family: 'Mitr-Light';
    font-size: clamp(2px,0.65vw,20px);
    height: 50%;
  
}















/*CASES GRID*/




.Inventory_Cases_Grid{
  background-color: transparent;
  width: 94%;
  height: auto;
      
    box-sizing: border-box;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-auto-rows: max-content; 
      gap: 0.2vw;
      justify-items: center;

      overflow-y: scroll;
      padding: 0;
      padding-top: 0.5vh;
      padding-bottom: 0.5vh;
      padding-left: 0.25vw;
      padding-right: 0.25vw;
      margin-top: 2vh;
}
.Inventory_Cases_Grid::-webkit-scrollbar {
  width:2px;
  padding: 0;
}


.Inventory_Cases_Grid::-webkit-scrollbar-track { 
  padding: 0;
}
 

.Inventory_Cases_Grid::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0,0.4); 
  border-radius: 50%;
  padding: 0;
}


.Inventory_Cases_Grid::-webkit-scrollbar-thumb:hover {
  background: transparent; 
  padding: 0;
}
.CasesGrid_Case{
  box-sizing: border-box;
  display: inline-flex;
  width: 100%;
  aspect-ratio: 9/7.5;
  border: 1px solid rgb(75, 75, 75);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: white;
  font-family: 'DownloadedFont';
  font-size: 12px;
  cursor: pointer;
  background-color: gray;
  box-shadow: rgb(6 24 44 / 20%) 0px 0px 0px 2px, rgb(6 24 44 / 65%) 0px 4px 6px -1px, rgb(255 255 255 / 8%) 0px 1px 0px inset;
}
.CasesGrid_Case_IMG{
  background-image: url(../PNGS/Item-BG.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CasesGrid_Case_IMG > img{
  width: 130%;
    height: 130%;
    object-fit:scale-down;
}
.CasesGrid_Case_Rarity_Name{

  

 

  text-shadow: 2px 2px 0.5px rgba(0, 0, 0,0.5);




  box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    align-items: flex-start;
    color: white;
    font-size: clamp(2px,0.675vw,20px);
    width: 100%;
    height: 30%;
    padding-left: 7%;
    padding-right: 7%;
    text-align: start;
    border-top: 1px solid rgba(128, 128, 128,0.5);
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(184, 184, 184, 0.4) 0%, rgba(59,59,59,0.5) 90%);
    font-family: 'Mitr-Regular';

}







.Inventory_Item_Info{
  width: 20vw;
  height: 24vw;
  position: absolute;
  background-color: rgb(31,48,64);
  background: linear-gradient(0deg, rgb(1, 1, 19) 0%, rgba(31,48,64,1) 80%);
  display: none;
  top:0;
  left: 0;
  transition:transform 0.2s cubic-bezier(.02,1.23,.79,1.08);
  z-index: 99;
  border: 2px solid rgb(54,73,87);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  flex-direction: column;
}
.Inventory_Item_Info_Corner{
  position: absolute;
  background-color: transparent;
  width: 2vw;
  height: 1.75vw;
  right: 100%;
  background-image:
  linear-gradient(to top left, rgb(30,51,67) 40%,rgb(111, 127, 138)50%, transparent 0%),
  linear-gradient(to top right, rgb(30,51,67) 40%,rgb(96, 111, 122)50%, transparent 0%);
background-size: 52% 100%;
background-repeat: no-repeat;
background-position: left, right;
transform: rotate(-90deg);
display: none;
bottom: calc(100% - 15%);
z-index: 100;

}
#corner1 {
  display: flex;
}
#corner2 {
  left: 100%;
  transform: rotate(90deg);
}
#corner3 {
 top: calc(100% - 15%);
}
#corner4 {

    top: calc(100% - 15%);
    left: 100%;
    transform: rotate(90deg);
}

.Inventory_Item_Info_Name{
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  color: rgb(151, 165, 182);
  font-size: clamp(6px,1.1vw,25px);
  text-align: center;
  background-color: rgb(37,56,76);
  font-family: "Mitr-Regular";
}
.Inventory_Item_Info_Rarity{
  width: 100%;
  height:6.5%;
  background-color: rgb(46,57,101);
  text-align: center;
  color: rgba(6, 11, 29, 0.699);
  font-size: clamp(6px,1vw,25px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mitr-Bold";
}
.Inventory_Item_Info_Description{
  color: rgb(151, 165, 182);
  font-size: clamp(6px,0.75vw,25px);
  text-align: start;
  padding: 0vw 1vw 0.5vw 1vw;
  font-family: "Mitr-Regular";
}
.Inventory_Item_Info_Collection{
  color: rgb(151, 165, 182);
  font-size: clamp(6px,0.75vw,25px);
  text-align: start;
  padding: 0vw 1vw 0vw 1vw;
  font-family: "Mitr-Regular";
}

.Inventory_Item_Info_Collection_Container{
  width: 100%;
  overflow: hidden;
  color: rgb(151, 165, 182);
  font-size: clamp(6px,0.75vw,25px);
  text-align: start;
  font-family: "Mitr-Regular";
}
.Inventory_Item_Info_Collection_Container > p {
  margin: 0;
  padding: 0vw 1vw 0vw 1vw;
}


.Inventory_Item_Buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 15%;
  height: auto;
  background-color: rgb(30,41,50);
  top:0;
  left: 0;
  border:1px solid rgba(85, 86, 87, 0.5);
  border-radius:0.1rem ;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Inventory_Item_Buttons > button {
  background-color: transparent;
  color: rgb(138,162,186);
  border:none;
  padding: 0.25rem 0rem 0.25rem 0rem;
  cursor: pointer;
  width: 100%;
}
.Inventory_Item_Buttons > button:hover{
  background-color: rgb(45, 59, 70);
  color: rgb(180, 199, 217);
}
