.UI_Container{
display: grid;
width: 80vw;
box-sizing: border-box;

height: 75vh;
max-height: 1200px;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
gap: 1.5vw;
position: relative;
}
.UI_Container > div {
    background-color: rgba(46, 56, 65, 0.8);
}

.Profile_UI {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
padding-left: 10%;
box-sizing: border-box;
max-height: 100%;
}
.Profile_UI > p:nth-child(1) {
    margin: 0.25rem;
    color: white;
}
.BetweenValue{
    color:rgba(255, 255, 255,0.5);
    margin: 0;
    margin-left: 0.25rem;
    font-size: clamp(5px,1.25vw,30px);
    font-family: 'Mitr-Light';
}
.RarityMuliplaierInput{
    width: 50%;
    margin: 0.25rem;
}
.RarityMultiplaierButton{
    width: 25%;
    margin: 0.25rem;
}







.Game_UI {
    grid-column: span 6;
    grid-row: span 5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0 , 0.5) 0px 0px 4px 2px;
    position: relative;
    background-color: #ccc;
  background-image: radial-gradient(rgba(42, 42, 46,0.1) 25%, transparent 30%);
  background-size: 30px 30px;
  
  background-repeat: repeat;
  overflow: hidden;
}

.Friends_UI {
    grid-row: span 4;
    grid-column: span 2;
  
}