.UI_Container{
display: grid;
width: 80vw;
box-sizing: border-box;

height: 80vh;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
gap: 1.5vw;
position: relative;
overflow: hidden;
}
.UI_Container > div {
    background-color: aqua;
}

.Profile_UI {
    grid-column: span 2;

}
.Game_UI {
    grid-column: span 4;
    grid-row: span 5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.Friends_UI {
    grid-row: span 4;
    grid-column: span 2;
}